*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --text-color: #e6d7ff;
    --dark-color: #161418;
    --gray-color: #444;
    --green-color:#52ff78;
}
body{
    background: var(--gray-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background: var(--dark-color);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
form label{
    display: block;
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
    color: var(--text-color);
}
.input-field{
    position: relative;
    width: 250px;
}
.input-field input{
    padding: 10px;
    padding-right: 40px;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid var(--green-color);
    outline: none;
    color: var(--text-color);
    font-size: 20px;
    transition: 0.2s;
}
.input-field input:focus{
    border-bottom-color: var(--green-color);
}
.input-field i{
    position: absolute;
    color: var(--text-color);
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    transition: 0.2s;
}
.input-field:hover i{
    opacity: 1;
}